%ul
  - if @places
    - @places.each do |place|
      %li
        = place.name
        = radio_button_tag('places', place.google_reference)
        / selecting a place needs to set the place for the answer